@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --primary-bg:#F0F8FF;
  --secondry-bg:#fff5eb;
  --main-font:'Pacifico',cursive;
}



body {
  margin: 0;
  padding: 0;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* overflow:visible; */
}


*{
  margin: 0;
  padding: 0;
}

